.container {
  @apply px-4 md:px-16;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.Popover {
  @apply fixed top-0 left-0 z-20 pointer-events-none;
}
.Popover > * {
  @apply pointer-events-auto;
}

.signature {
  @apply fixed bottom-0 right-0 p-4 text-center font-semibold text-2xl opacity-30;
}
